@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Griffy&display=swap');


body{
    background-color: #FFB000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', sans-serif;
}

.todo-list{
    background-color: #fff;
    padding: 10px;
    width: 400px;
    min-height: 600px;
    border-radius: 10px;
}

.input{
    border: none;
    border-bottom: 3px dashed #E7B10A;
    margin: 0 4px;
    font-size: 30px;
}

.input:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 3px dashed #E7B10A;
}

.list ul li{
    font-size: 30px;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

header h3{
    font-family: 'Griffy', serif;
    font-size: 40px;
}
.button{
    font-size: 25px;
}